<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/image/cloud.ico">
    <title>Python</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Python Flask（{{ Hits }}次访问）</a>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
      	<h1>{{ Msg }}</h1>
        <p>恭喜您成功发布了首个项目。短短几十秒系统完成了代码构建、镜像制作、资源调度、服务部署、网关配置、域名配置、日志收集、性能监控等工作。啊！word 拼写错误，尝试修改一下吧。</p>
        <p><a class="btn btn-primary btn-lg" href="{{ WebIDE }}" target="view_window" role="button"> 修改我的代码 &raquo;</a></p>
      </div>
    </div>

	<!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    -->
  </body>
</html>
